.cus-input {
    position: relative;

    display: flex;
    align-items: center;
}

.cus-input input:hover {
    color: var(--primary);

    box-shadow: rgba(77, 25, 204, 0.05) 0px 6px 24px 0px, rgba(77, 25, 204, 0.08) 0px 0px 0px 1px;
}

.cus-input input:focus {
    color: var(--primary);

    box-shadow: rgba(77, 25, 204, 0.05) 0px 6px 24px 0px, rgba(77, 25, 204, 0.08) 0px 0px 0px 1px;
}

.cus-input svg {
    position: absolute;
    left: 7px;

    transition: 0.3s;
}

.cus-input input {
    width: 30%;
    height: 45px;
    font-size: 16px;

    border-radius: 15px;

    padding: 15px 10px;
    padding-left: 33px;

    font-family: MF-Regular;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    transition: 0.3s;
}