.carrer-vacancies {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.vacancies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
    width: 100%;
}
