.home-news_item {
    width: 90%;
    height: 130px;

    display: flex;
    align-items: center;

    padding: 15px;
    margin-top: 15px;

    border-radius: 15px;

    cursor: pointer;

    transition: 0.3s;
}

.home-news_item:hover {
    transform: translateY(-2.5px) translateX(5px);

    box-shadow: rgba(203,184,255, 0.4) -5px 5px, rgba(203,184,255, 0.3) -10px 10px, rgba(203,184,255, 0.2) -15px 15px, rgba(203,184,255, 0.1) -20px 20px, rgba(203,184,255, 0.05) -25px 25px;
}

.home-news_item img {
    width: 150px;
    height: 100%;

    border-radius: 15px;
}

.home-news_item_text {
    padding: 10px 0;

    margin-left: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.home-news_item_text p:last-child {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}