.vacancy-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  cursor: pointer;

  transition: 0.3s;
}

.vacancy-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  float: left;
  margin-right: 10px;
}

.vacancy-details {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.vacancy-details h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.vacancy-details p {
  font-size: 14px;
  margin: 5px 0;
}

.vacancy-details strong {
  font-weight: bold;
}

/* Дополнительные стили для улучшения визуального восприятия */
.vacancy-item:hover {
    transform: translateY(-2.5px) translateX(5px);

    box-shadow: rgba(203,184,255, 0.4) -5px 5px, rgba(203,184,255, 0.3) -10px 10px, rgba(203,184,255, 0.2) -15px 15px, rgba(203,184,255, 0.1) -20px 20px, rgba(203,184,255, 0.05) -25px 25px;
}

.vacancy-item::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.vacancy-item::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ccc;
  cursor: pointer;
}

/* Стили для кнопок с тегами */
.vacancy-tags {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.vacancy-tag {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #333;
}

/* Стили для основной информации о вакансии */
.vacancy-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.vacancy-main-info span {
  font-size: 14px;
  color: #666;
}

/* Стили для описания вакансии */
.vacancy-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

/* Стили для даты публикации */
.vacancy-date {
  font-size: 12px;
  color: #999;
}
